@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  overflow-x: hidden;
  position: relative; }

body {
  font-family: "Causten", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 20px;
  background-color: #eff2f1; }

a {
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #2f2f2f;
  text-decoration: underline; }
  a:hover {
    color: #2f2f2f;
    text-decoration: none; }
  a.more {
    font-weight: 600; }

.custom-navbar {
  background: #3b5d5000 !important;
  padding-top: 30px;
  padding-bottom: 20px; }
  .custom-navbar .navbar-brand {
    font-family: "Valky";
    color: #DEFF53;
    font-size: 32px;
    font-weight: 600; }
  .custom-navbar .navbar-toggler {
    border-color: transparent; }
    .custom-navbar .navbar-toggler:active, .custom-navbar .navbar-toggler:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
  @media (min-width: 992px) {
    .custom-navbar .custom-navbar-nav li {
      margin-left: 15px;
      margin-right: 15px; } }
  .custom-navbar .custom-navbar-nav li a {
    font-weight: 500;
    color: #ffffff !important;
    opacity: .5;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative; }
    @media (min-width: 768px) {
      .custom-navbar .custom-navbar-nav li a:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
        background: #DEFF53;
        height: 5px;
        opacity: 1;
        visibility: visible;
        width: 0;
        -webkit-transition: .15s all ease-out;
        -o-transition: .15s all ease-out;
        transition: .15s all ease-out; } }
    .custom-navbar .custom-navbar-nav li a:hover {
      opacity: 1; }
      .custom-navbar .custom-navbar-nav li a:hover:before {
        width: calc(100% - 16px); }
  .custom-navbar .custom-navbar-nav li.active a {
    opacity: 1; }
    .custom-navbar .custom-navbar-nav li.active a:before {
      width: calc(100% - 16px); }
  .custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media (min-width: 768px) {
      .custom-navbar .custom-navbar-cta {
        margin-left: 40px !important; } }
    .custom-navbar .custom-navbar-cta li {
      margin-left: 0px;
      margin-right: 0px; }
      .custom-navbar .custom-navbar-cta li:first-child {
        margin-right: 20px; }

.hero {
  margin-top: 150px;
  background: #3b5d5000;
  padding: calc(4rem - 70px) 0 0rem 0; }

.hero-shop {
  margin-top: 150px;
  background: #3b5d5000;
  padding: 0px 450px;
  height: 700px; }

.h1-hero {
  color: #DEFF53;
  font-weight: bolder;
  font-size: 78px;
  font-family: "altoadige";
  font-weight: 1000;
}
.p-hero {
  color: rgb(255, 255, 255);
    margin-bottom: 30px; 
    width: 650px;
    height: 50px;
    flex-shrink: 0;
    font-size: 23px;
    font-weight: 300;
    line-height: normal
}

  @media (min-width: 768px) {
    .hero {
      padding: calc(4rem - 30px) 0 4rem 0; } }
  @media (min-width: 992px) {
    .hero {
      padding: calc(8rem - 30px) 0 8rem 0; } }
  .hero .intro-excerpt {
    position: relative;
    z-index: 4;
  padding-top: 90px;}
    @media (min-width: 992px) {
      .hero .intro-excerpt {
        max-width: 4500px; } }

.fondo-inicio {
  background-image: url("../images/fondo-nuevo.jpg");
  background-repeat: none;
  height: 1000px;
}

.fondo-inicio-shop {
  background-image: url("../images/fondo-shop.png");
  background-repeat: none;
  height: 1000px;
  background-size: cover;
}

.container-1 {
  text-align: center;
  background-color: #DEFF53;
  height: 150px;
  border-bottom: 2px solid #255787;
  margin-bottom: -180px;
}

.container-2 {
  text-align: center;
  margin-bottom: 25px;
}

.container-4 {
  margin: 120px 75px;
}

.container-4-shop {
  margin: 120px 0px;
  margin-right: 200px; 
}

.amarillo {
  height: 400px;
  background-color: #DEFF53;
  margin-top: -160px;
  padding-top: 100px;
  text-align: center;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

.gris {
  height: 40px;
  background-color: #E9E8E4;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  text-align: center;
}

.gris-img {
  height: 40px;
}

.h3-shop {
  text-align: center;
  font-size: 40px;
  color: #255787;
  font-weight: 1000;
  font-family: "altoadige";
  letter-spacing: 0.001px;
}

.p-shop {
  font-size: 18px;
  text-align: center;
  color: #255787;
}

.container-5 {
  margin-bottom: -10px;
  margin-top: -100px;
}

.container-5-shop {
  margin-bottom: -10px;
  margin-top: 70px;
}

.container-6 {
  margin-left: 100px;
}

.moda-2 {
  padding-top: 50px;
  color: #255787;
  font-family: "altoadige";
  font-size: 40px;
  font-weight: bold;
}

.row-1 {
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.row-2 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-3 {
  display: flex;
  margin-bottom: 200px;
  background-color: #DEFF53;
  height: 400px;
}

.row-3-shop {
  display: flex;
  margin-bottom: 200px;
  background-color: #eff2f1;
  height: 400px;
  margin-top: 200px;
  justify-content: center;
}

.row-4 {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.row-4-shop {
  display: flex;
  justify-content: center;
}

.row-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  text-align: center;
  margin-bottom: -200px;
}

.grid-img-1 {
  height: 700px;
  border-radius: 30px;
  margin: 20px;
}

.grid-img-2 {
  height: 500px;
  margin: 20px;
}

.grid-img-3 {
  height: 1150px;
  margin: 20px; 
}


.grid-img-4 {
  height: 700px;
  margin: 20px;
  margin-top: -480px;
}

.grid-img-5 {
  margin: 20px;
  margin-top: -630px;
}

.img-1 {
  height: 650px;
  width: 100%;
  border-radius: 30px;
}

.img-2 {
  height: 500px;
  width: 100%;
  border-radius: 30px;
}

.img-3 {
  height: 1100px;
  width: 100%;
  border-radius: 30px;
}

.img-4 {
  height: 550px;
  width: 100%;
  border-radius: 30px;
}

.img-5 {
  height: 450px;
  width: 100%;
  border-radius: 30px;
}

.gird-txt-1 {
  color: #000;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #DEFF53;
  position: relative;
  top: -100px;
  right: 100px;
  text-align: right;
  display: inline-block;
}

.gird-txt-2 {
  color: #000;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #DEFF53;
  position: relative;
  top: -80px;
  left:  120px;
  text-align: right;
  display: inline-block;
}

.gird-txt-3 {
  color: #000;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #DEFF53;
  position: relative;
  top: -980px;
  left:  300px;
  text-align: right;
  display: inline-block;
}

.gird-txt-4 {
  color: #000;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #DEFF53;
  position: relative;
  top: -120px;
  left:  100px;
  text-align: right;
  display: inline-block;
}

.gird-txt-5  {
  color: #000;
  padding: 5px 40px;
  border-radius: 4px;
  background-color: #DEFF53;
  position: relative;
  top: -20px;
  text-align: right;
  display: inline-block;
}

.disenadoras-img {
  margin-left: 150px;
  margin-top: -50px;
}

.h3-disenadoras {
  font-family: "altoadige";
  font-weight: 1000;
  font-size: 40px;
  color: #255787;
}

.h3-disenadoras-shop {
  font-family: "altoadige";
  font-weight: 1000;
  font-size: 40px;
  color: #255787;
}

.ul-disenadoras {
  color: #255787;
  
}

.p-disenadoras {
  color: #255787;
  width: 400px;
}

.p-disenadoras-shop {
  color: #255787;
  width: 400px;
}

.etiqueta {
  padding: 210px;
  margin: -70px;
  background-image: url(../images/etiqueta-verde.png);
  background-size: contain;
  background-repeat: round;
  width: 550px;
  height: 550px;
}

.detalle {
  background-color: #255787;
  margin: 50px 30px;
  text-align: center;
  height: 400px;
  border-radius: 20px;
}

.detalle-img {
  width: 270px;
  height: 250px;
}

.box-title{
  text-align: center;
  font-family: "altoadige";
  font-size: 45px;
  color: #255787;
  font-weight: 1000;
}

.box {
  background-color: #255787;
  margin: 50px 30px;
  width: auto;
  text-align: center;
  height: 590px;
  border-radius: 20px;
}

.box-shop {
  background-color: #255787;
  margin: 50px 30px;
  width: 360px;
  text-align: center;
  height: 590px;
  border-radius: 20px;
}

.box-grande {
  background-color: #255787;
  margin: 50px 30px;
  text-align: center;
  height: 700px;
  border-radius: 20px;
  width: 400px;
  border: 4px solid #DEFF53;
}

.box-grande-shop {
  display: flex;
  width: 1000px;
  text-align: center;
  justify-content: space-around;
}

.box-flex-grande-shop {
  padding: 55px;
  padding-left: 100px;
}

.box-img {
  width: 250px;
  height: 220px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-img-grande {
  width: 300px;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.box-img-grande-shop {
  width: 500px;
  height: 500px;
}

.h3-box {
  text-align: center;
  font-family: "altoadige";
  font-size: 45px;
  color: #fff;
  font-weight: 1000;
  text-transform: uppercase;
}

.h3-box-1 {
  text-align: center;
  font-family: "altoadige";
  font-size: 55px;
  color: #fff;
  font-weight: 1000;
  text-transform: uppercase;
}

.h3-box-1-shop {
  text-align: left;
  font-family: "altoadige";
  font-size: 75px;
  color: #fff;
  font-weight: 1000;
  text-transform: uppercase;
}

.box-texto {
  color: #fff;
}

.box-texto-1 {
  color: #fff;
  font-size: 23px;
}

.box-texto-1-shop {
  color: #fff;
  font-size: 33px;
}

.prendas {
  color: #DEFF53;
  font-size: 40px;
  font-family: "altoadige";
  font-weight: 1000;
}

.prendas-1 {
  color: #DEFF53;
  font-size: 48px;
  font-family: "altoadige";
  font-weight: 1000;
}

.prendas-1-shop {
  color: #DEFF53;
  font-size: 58px;
  font-family: "altoadige";
  font-weight: 1000;
  text-align: left;
}

.precio {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.precio-1 {
  color: #fff;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.precio-1-shop {
  color: #fff;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: left;
}

.precio-ar {
  text-transform: uppercase;
  font-weight: bolder;
}

.precio-ar-1 {
  text-transform: uppercase;
  font-weight: bolder;
}

.precio-ar-1-shop {
  text-transform: uppercase;
  font-weight: bolder;
}

.precio-numero {
  font-size: 30px;
}

.precio-numero-1 {
  font-size: 30px;
}

.precio-numero-1-shop {
  font-size: 40px;
}

.btn-sub {
  padding: 10px;
  border: solid 2px #DEFF53;
  text-decoration: none;
  color: #255787;
  background-color: #DEFF53;
  border-radius: 35px;
  margin-top: 60px;
  font-weight: bolder;
}

.btn-sub-1 {
  padding: 15px;
  border: solid 2px #DEFF53;
  text-decoration: none;
  color: #255787;
  background-color: #DEFF53;
  border-radius: 35px;
  margin-top: 60px;
  font-weight: bolder;
}

.btn-sub-1-shop {
  padding: 15px 0px;
  border: solid 2px #DEFF53;
  text-decoration: none;
  color: #255787;
  background-color: #DEFF53;
  border-radius: 35px;
  margin-top: 60px;
  font-weight: bolder;
  text-align: left;
}

.detalle-icn {
  width: 150px;
  height: 50px;
}

.etiquetas-div {
  background-color: #E9E8E4;
  margin-top: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.detalle-texto {
  margin: 0 20px;
  color: #fff;
}

.etiqueta-text {
  margin-top: 20px;
  margin-right: 22px;
  font-family: "altoadige";
  font-size: 95px;
  color: #255787;
  font-weight: 1000;
}

.etiqueta-p {
  font-size: 30px;
}

.negrita {
  font-weight: bolder;
}

.section-text {
  color: #000;
  font-size: 25px; 
}

.inteligencia-img {
  height: 500px;
  width: 450px;
  border-radius: 20px;
}

.container-footer {
  display: flex;
  background-color: #255787;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-around;
}

.container-info-footer {

}

.container-7 {
  margin-right: 100px;
}

.container-form-footer{
  margin-bottom: 220px;
}

.container-eco-footer {
  display: flex;
}

.container-categorias-footer{
  margin-left: 100px;
}

.img-redes{
  width: 300px;
  margin-top: -30px;
  margin-left: -18px;
}

.h3-form{
  font-size: 22px;
  color: #fff;
  font-weight: 550;
  margin-left: 10px;
}

.input-form {
  color: #fff;
  padding: 6px 18px;
  margin: 5px;
  border: 1px solid #fff;
  background-color: #255787;
  border-radius: 12px;
}

input::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}

.a-form {
  color: #255787;
  background-color: #fff;
  padding:  7px 10px;
  text-decoration: none;
  border-radius: 12px;
  margin: 0 5px;
  font-weight: 850;
}

.h3-info {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "altoadige";
  font-weight: 1000;
  color: #DEFF53;
}

.p-info {
  color: #fff;
  font-size: 18px;
  width: 400px;
}

.ul-footer {
  color: #fff;
  list-style: none;
}

.li-footer {
  color: #fff;
  margin: 15px 0;
}

.li-footer a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #fff;
  border-color: #fff; }
  .btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222; }
  .btn:active, .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-secondary {
    color: #255787;
    background: #DEFF53;
    border-color: #DEFF53; }
    .btn.btn-secondary:hover {
      background: #efffad;
      border-color: #92a937; }

.section-title {
  color: #255787;
  font-size: 45px;
  letter-spacing: -1px;
  font-family: "altoadige";
  font-weight: bolder; }

.detalles-section{
  margin-top: 0px;
  padding: 7rem 0;
}

.product-section {
  margin-top: 180px;
  padding: 7rem 0;
  }

.feature {
  margin-bottom: 30px; }
  .feature .icon {
    display: inline-block;
    position: relative;
    margin-bottom: 20px; }
    .feature .icon:before {
      content: "";
      width: 33px;
      height: 33px;
      position: absolute;
      background: rgba(59, 93, 80, 0.2);
      border-radius: 50%;
      right: -8px;
      bottom: 0; }
  .feature h3 {
    font-size: 14px;
    color: #2f2f2f; }
  .feature p {
    font-size: 14px;
    line-height: 22px;
    color: #6a6a6a; }

.we-help-section {
  padding: 7rem 0; }

.testimonial-section {
  padding: 3rem 0 7rem 0;
  margin: -40px 480px;
  text-align: center;
  border: 2px solid #255787;
  border-radius: 40px;
  padding-bottom: 40px;
  }
  .p-testimonial {
    color: #000;
  }
  .font-weight-bold {
    color: #000;
  }
  .d-block {
    color: #000;
    font-size: 20px;
  }

.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic {
  margin-bottom: 20px; }
.testimonial-slider-wrap .item .testimonial-block .author-info .author-pic img {
  max-width: 80px;
  border-radius: 50%; }

.before-footer-section {
  padding: 7rem 0 12rem 0 !important; }

.blog-section {
  padding: 7rem 0 12rem 0; }

.container-8 {
  padding: 0 240px;
}

.row-6 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.preguntas-1 {

}

.preguntas-2 {

}

.ul-preg {
  list-style: none;
  width: 650px;
  margin: 0px 100px;
}

.li-preg {
  font-size: 25px;
  color: #255787;
  border-bottom: 1px solid #255787;
  padding: 20px ;
}

.li-preg-1 {
  font-size: 25px;
  color: #255787;
  border-top: 1px solid #255787;
  border-bottom: 1px solid #255787;
  padding: 20px ;
}


@media (max-width: 1200px) {
  .intro-excerpt {
    margin-left: 30px;
  }
  .h1-hero {
    font-size: 50px;
  }
  .p-hero {
    color: #fff;
    font-size: 20px;
    width: 450px;
    margin-bottom: 40px;
  }
  .fondo-inicio {
    background-image: url("../images/fondo-nuevo.jpg");
    background-repeat: none;
    height: 800px;
  }
  .moda-2 {
    font-size: 25px;
  }
  .container-1 {
    height: 120px;
    border-bottom: none;
  }
  .product-section {
    padding-top: 10px;
  }
  .section-title {
    font-size: 35px;
    margin-top: 20px;
  }
  .section-text {
    font-size: 20px;
  }
  .row-1 {
    margin-top: 60px;
    display: flex;
    text-align: center;
    justify-content: center;  
  }
  .etiqueta {
    padding: 150px;
    margin: -70px;
    background-image: url(../images/etiqueta-verde.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
  }
  .etiqueta-text {
    font-size: 50px;
    margin-left: -20px;
    margin-top: -15px;
  }
  .etiqueta-p {
    font-size: 15px;
    margin-left: -35px;
    width: 100px;
  }
  .detalles-section {
    margin: 30px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-p {
    font-size: 15px;
    color: #255787;
  }
  .row-2 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .detalle {
    background-color: #255787;
    margin: 50px 30px;
    text-align: center;
    height: 300px;
    border-radius: 20px;
  }
  .detalle-img {
    width: 170px;
    height: 150px;
  }
  .detalle-texto {
    font-size: 10px;
    padding: 5px;
  }
  .etiquetas-div {
    width: auto;
    height: 50px;
  }
  .row-3 {
    height: 200px;
  }
  .disenadoras-img {
    margin-left: 30px;
    margin-top: -50px;
  }
  .inteligencia-img {
    width: 200px;
    height: 300px;
  }
  .container-4 {
    margin: 20px 25px;
  }
  .h3-disenadoras {
    font-size: 20px;
    line-height: 22px;
  }
  .p-disenadoras {
    font-size: 15px;
    line-height: 17px;
    width: 280px;
  }
  .box-title {
    font-size: 30px;
  }
  .container-5 {
    margin-top: -140px;
  }
  .row-4 {
    display: block;
  }
  .box {
    display: flex;
    height: 275px;
    justify-content: center;
  }
  .box-grande {
    display: flex;
    height: 320px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto; 
    justify-content: center;
  }
  .box-img {
    width: 190px;
    height: 200px;
  }
  .box-img-grande {
    width: 210px;
    height: 240px;
  }
  .box-flex-img {
    margin-right: 10px;
  }
  .box-flex-img-grande {
    margin-right: 10px;
  }
  .box-flex{
    padding-top: 50px;
  }
  .box-flex-grande {
    padding-top: 40px;
    margin-left: 10px;
  }
  .h3-box {
    font-size: 25px;
  }
  .h3-box-1 {
    font-size: 35px;
  }
  .box-texto {
    font-size: 13px;
    margin: 5px;
  }
  .box-texto-1 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .prendas{
    font-size: 20px;
    margin-bottom: 2px;
  }
  .prendas-1 {
    font-size: 30px;
  }
  .precio {
    font-size: 13px;
    margin: 5px;
  }
  .precio-1 {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .precio-ar {
    font-size: 13px;
  }
  .precio-ar-1 {
    font-size: 18px;
  }
  .precio-numero {
    font-size: 18px;
  }
  .precio-numero-1 {
    font-size: 26px;
  }
  .btn-sub {
    margin: 0px;
    font-size: 12px;
  }
  .btn-sub-1 {
    margin: 0px;
    font-size: 16px;
  }
  .testimonial-section {
    margin: 0 30px;
    padding-bottom: 10px;
  }
  .p-testimonial {
    color: #000;
  }
  .font-weight-bold {
    color: #000;
  }
  .d-block {
    color: #000;
    font-size: 16px;
  }
  .section-title {
    font-size: 30px;
    margin: 0 20px;
  }
  .row-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: -200px;
  }
  .grid-img-1 {
    height: 450px;
    border-radius: 30px;
    margin: 20px;
  }
  
  .grid-img-2 {
    height: 400px;
    margin: 20px;
  }
  
  .grid-img-3 {
    height: 600px;
    margin: 20px; 
    margin-top: 0px;
  }
  
  
  .grid-img-4 {
    height: 350px;
    margin: 20px;
    margin-top: -50px;
    
  }
  
  .grid-img-5 {
    margin: 20px;
    height: 350px;
    margin-top: 2px;
  }
  
  .img-1 {
    height: 350px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-2 {
    height: 400px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-3 {
    height: 400px;
    width: 100%;
    border-radius: 30px;
    margin-top: -100px;
  }
  
  .img-4 {
    height: 500px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-5 {
    height: 350px;
    width: 100%;
    border-radius: 30px;
    margin-top: -300px;
  }
  
  .gird-txt-1 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -100px;
    left: 90px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-2 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -80px;
    left:  60px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-3 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -100px;
    left:  100px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-4 {
    color: #000;
    padding: 2px 35px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -120px;
    left: -100px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-5  {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    left: 70px;
    top: -80px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  .container-footer {
    background-color: #255787;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
  }
  
  .container-info-footer {
   padding: 0px 50px
  }
  
  .container-7 {
    margin-right: 0px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-7 img {
    width: 100%;
    height: 600px;
  }
  
  .container-form-footer{
    margin-bottom: 40px;
    height: 200px;
  }
  
  .container-eco-footer {
    display: block;
  }
  
  .container-categorias-footer{
    margin-left: 0px;
  }
  
  .img-redes{
    width: 300px;
    margin-top: -30px;
    margin-left: -18px;
  }
  
  .h3-form{
    font-size: 18px;
    color: #fff;
    font-weight: 550;
    margin-left: 10px;
  }
  
  .input-form {
    color: #fff;
    padding: 11px 18px;
    padding-right: 100px;
    margin: 12px 0px;
    margin-right: 20px;
    border: 1px solid #fff;
    background-color: #255787;
    border-radius: 12px;

  }
  
  input::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
  }
  
  .a-form {
    color: #255787;
    background-color: #fff;
    padding:  5px 17px;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 15px;
    font-weight: 850;
    font-size: 16px;
    margin: 0px;
  }
  
  .h3-info {
    font-size: 25px;
    letter-spacing: 0.1PX;
    text-transform: uppercase;
    font-family: "altoadige";
    font-weight: 1000;
    color: #DEFF53;
  }
  
  .p-info {
    color: #fff;
    font-size: 15px;
  }
  
  .ul-footer {
    color: #fff;
    list-style: none;
    padding: 0px;
  }
  
  .li-footer {
    color: #fff;
    margin: 15px 0;
  }
  
  .li-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .hero-shop {
    margin-top: 150px;
    background: #3b5d5000;
    padding: 0px 100px;
    height: 700px; }
  
  .box-grande-shop {
    display: block;
    width: 100%;
    text-align: center;
    }
  .box-flex-img-grande-shop {
    
  }

  .box-img-grande-shop {
    width: 350px;
    height: 350px;
  }

  .box-flex-grande-shop {
    padding: 40px 0px;
    text-align: center;
  }

  .h3-box-1-shop {
    text-align: center;
    font-family: "altoadige";
    font-size: 55px;
    color: #fff;
    font-weight: 1000;
    text-transform: uppercase;
  }

  .box-texto-1-shop {
    color: #fff;
    font-size: 23px;
    text-align: center;   
  }

  .prendas-1-shop {
    color: #DEFF53;
    font-size: 48px;
    font-family: "altoadige";
    font-weight: 1000;
    text-align: center;
  }

  .precio-1-shop {
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .precio-ar-1-shop {
    font-size: 20px
  }

  .precio-numero-1-shop {
    font-size: 35px;
  }

  .btn-sub-1-shop {
    padding: 15px 20px;
  }

  .row-3-shop {
    display: block;
    margin-bottom: 200px;
    background-color: #eff2f1;
    height: 500px;
    margin-top: 200px;
    text-align: center;
    padding: 0px 50px;
  }  

  .container-4-shop {
    margin: 60px 0px;
    margin-right:
  }
  
  .amarillo {
    height: 340px;
    background-color: #DEFF53;
    margin-top: -160px;
    padding-top: 100px;
    text-align: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }
  
  .gris {
    height: 35px;
    background-color: #E9E8E4;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-align: center;
  }
  
  .gris-img {
    height: 40px;
  }

  .h3-disenadoras-shop {
    font-family: "altoadige";
    font-weight: 1000;
    font-size: 35px;
    color: #255787;
  }

  .p-disenadoras-shop {
    color: #255787;
    width: 400px;
  }
  
  .ul-disenadoras {
    color: #255787;
    text-align: left;
    padding: 0px 110px;
    padding-top: 10px;
  }

  .h3-shop {
    text-align: center;
    font-size: 40px;
    color: #255787;
    font-weight: 1000;
    font-family: "altoadige";
    letter-spacing: 0.001px;
  }
  
  .p-shop {
    font-size: 15px;
    text-align: center;
    color: #255787;
    line-height: 25px;
  }

  .inteligencia-img {
    height: 350px;
    width: 300px;
    border-radius: 20px;
  }
  
  .container-8 {
    padding: 0 40px;
  }
  
  .row-6 {
    display: block;
    justify-content: center;
    margin-top: 40px;
  }
  
  .preguntas-1 {
  
  }
  
  .preguntas-2 {
  
  }
  
  .ul-preg {
    list-style: none;
    width: auto;
    margin: 0px;
  }
  
  .li-preg {
    font-size: 20px;
    color: #255787;
    border-bottom: 1px solid #255787;
    padding: 20px ;
  }
  
  .li-preg-1 {
    font-size: 20px;
    color: #255787;
    border-top: 0px;
    border-bottom: 1px solid #255787;
    padding: 20px ;
  }
}

@media (max-width: 1400px) {
  .container-footer {
    background-color: #255787;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
  }
  
  .container-info-footer {
   padding: 0px 50px
  }
  
  .container-7 {
    margin-right: 0px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-7 img {
    width: 100%;
    height: 600px;
  }
  
  .container-form-footer{
    margin-bottom: 40px;
    height: 200px;
  }
  
  .container-eco-footer {
    display: block;
  }
  
  .container-categorias-footer{
    margin-left: 0px;
  }
  
  .img-redes{
    width: 300px;
    margin-top: -30px;
    margin-left: -18px;
  }
  
  .h3-form{
    font-size: 18px;
    color: #fff;
    font-weight: 550;
    margin-left: 10px;
  }
  
  .input-form {
    color: #fff;
    padding: 11px 18px;
    padding-right: 100px;
    margin: 12px 0px;
    margin-right: 20px;
    border: 1px solid #fff;
    background-color: #255787;
    border-radius: 12px;

  }
  
  input::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
  }
  
  .a-form {
    color: #255787;
    background-color: #fff;
    padding:  5px 17px;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 15px;
    font-weight: 850;
    font-size: 16px;
    margin: 0px;
  }
  
  .h3-info {
    font-size: 25px;
    letter-spacing: 0.1PX;
    text-transform: uppercase;
    font-family: "altoadige";
    font-weight: 1000;
    color: #DEFF53;
  }
  
  .p-info {
    color: #fff;
    font-size: 15px;
  }
  
  .ul-footer {
    color: #fff;
    list-style: none;
    padding: 0px;
  }
  
  .li-footer {
    color: #fff;
    margin: 15px 0;
  }
  
  .li-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .testimonial-section {
    margin: 0 30px;
    padding-bottom: 10px;
  }
  .p-testimonial {
    color: #000;
  }
  .font-weight-bold {
    color: #000;
  }
  .d-block {
    color: #000;
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .row-4-shop {
    display: block;
    text-align: center;
  }

  .box-shop {
    display: flex;
    height: 275px;
    text-align: center;
    padding: 0px 5px;
    width: auto;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .intro-excerpt {
    margin: 0px 10px
  }
  .h1-hero {
    margin-top: -200px;
    font-size: 20px;
  }
  .p-hero {
    color: #fff;
    font-size: 12px;
    width: 200px;
    margin-bottom: 20px;
  }
  .btn {
    font-size: 15px;
    padding: 5px 10px;
  }
  .fondo-inicio {
    background-image: url("../images/fondo-nuevo.jpg");
    background-repeat: none;
    height: 500px;
  }
  .moda-2 {
    font-size: 15px;
  }
  .container-1 {
    height: 120px;
    border-bottom: none;
  }
  .product-section {
    padding-top: 10px;
  }
  .mb-4{
    font-size: 20px;
  }
  .section-title {
    font-size: 20px;
    margin-top: 20px;
    margin: 0px ;
  }
  .section-text {
    font-size: 15px;
  }
  .row-1 {
    margin-top: 60px;
    display: flex;
    text-align: center;
  }
  .etiqueta {
    padding: 115px;
    margin: -70px;
    background-image: url(../images/etiqueta-verde.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    text-align: center;
  }
  .etiqueta-text {
    font-size: 50px;
    margin-left: -20px;
    margin-top: -15px;
  }
  .etiqueta-p {
    font-size: 15px;
    margin-left: -35px;
    width: 100px;
  }
  .detalles-section {
    margin: 10px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .section-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .section-p {
    font-size: 15px;
    color: #255787;
    text-align: center;
  }
  .row-2 {
    display: block;
    text-align: center;
  }
  .detalle {
    background-color: #255787;
    margin: 50px 10px;
    text-align: center;
    height: 280px;
    border-radius: 20px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .detalle-img {
    width: 170px;
    height: 150px;
  }
  .detalle-texto {
    font-size: 10px;
    padding: 5px;
  }
  .etiquetas-div {
    width: auto;
    height: 50px;
  }
  .row-3 {
    height: 300px;
    display: block;
    margin-bottom: 300px;
  }
  .disenadoras-img {
    margin: -50px 10px;
  }
  .inteligencia-img {
    width: 10px;
    height: 10px;
    display: none;
  }
  .container-4 {
    margin: 30px 20px;
  }
  .h3-disenadoras {
    padding-top: 30px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .p-disenadoras {
    font-size: 15px;
    line-height: 17px;
    width: auto;
  }
  .box-title {
    font-size: 25px;
  }
  .container-5 {
    margin-top: -140px;
  }
  .row-4 {
    display: block;
  }
  .box {
    display:block;
    height: 425px;
    justify-content: center;
  }
  .box-grande {
    display: block;
    height: 520px;
    margin-right: 0px;
    margin-left: 0px;
    width: auto; 
    justify-content: center;
  }
  .box-img {
    width: 140px;
    height: 150px;
  }
  .box-img-grande {
    width: 160px;
    height: 180px;
  }
  .box-flex-img {
    margin: 0px;
  }
  .box-flex-img-grande {
    margin: 0px;
  }
  .box-flex{
    padding-top: 0px;
  }
  .box-flex-grande {  
    padding: 0px;
    margin: 0px;
  }
  .h3-box {
    font-size: 19px;
  }
  .h3-box-1 {
    font-size: 35px;
  }
  .box-texto {
    font-size: 13px;
    margin: 5px;
  }
  .box-texto-1 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .prendas{
    font-size: 20px;
    margin-bottom: 2px;
  }
  .prendas-1 {
    font-size: 30px;
  }
  .precio {
    font-size: 13px;
    margin: 5px;
  }
  .precio-1 {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .precio-ar {
    font-size: 13px;
  }
  .precio-ar-1 {
    font-size: 18px;
  }
  .precio-numero {
    font-size: 18px;
  }
  .precio-numero-1 {
    font-size: 26px;
  }
  .btn-sub {
    margin: 0px;
    font-size: 12px;
  }
  .btn-sub-1 {
    margin: 0px;
    font-size: 16px;
  }
  .testimonial-section {
    margin: 0 10px;
    padding-bottom: 10px;
  }
  .p-testimonial {
    color: #000;
    font-size: 15px;
    padding: 0 10px;
  }
  .font-weight-bold {
    color: #000;
  }
  .d-block {
    color: #000;
    font-size: 16px;
  }
  .section-title {
    font-size: 20px;
    margin: 0 20px;
  }
  .row-5 {
    display: block;
    text-align: center;
    margin-bottom: -500px;
  }
  .grid-img-1 {
    height: 350px;
    border-radius: 30px;
    margin: 20px;
  }
  
  .grid-img-2 {
    height: 500px;
    margin: 20px;
  }

  .grid-img-3 {
    height: 240px;
    margin: 20px; 
    margin-top: 0px;
  }

  .grid-img-4 {
    height: 350px;
    margin: 20px;
    margin-top: 75px;  
  }

  .grid-img-5 {
    margin: 20px;
    height: 550px;
    margin-top: 470px;
  }
  
  .img-1 {
    height: 350px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-2 {
    height: 400px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-3 {
    height: 400px;
    width: 100%;
    border-radius: 30px;
    margin-top: -100px;
  }
  
  .img-4 {
    height: 500px;
    width: 100%;
    border-radius: 30px;
  }
  
  .img-5 {
    height: 350px;
    width: 100%;
    border-radius: 30px;
    margin-top: -300px;
  }
  
  .gird-txt-1 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -100px;
    left: 30px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-2 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -80px;
    left:  -40px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-3 {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -100px;
    left:  40px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-4 {
    color: #000;
    padding: 2px 35px;
    padding-right: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    top: -120px;
    left: -60px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  
  .gird-txt-5  {
    color: #000;
    padding: 2px 35px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #DEFF53;
    position: relative;
    left: 50px;
    top: -210px;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-weight: 550;
  }
  .container-footer {
    background-color: #255787;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
  }
  
  .container-info-footer {
   padding: 0px 10px
  }
  
  .container-7 {
    margin-right: 0px;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
  }

  .container-7 img {
    width: 100%;
    height: 600px;
  }
  
  .container-form-footer{
    margin-bottom: 40px;
    height: 200px;
  }
  
  .container-eco-footer {
    display: block;
  }
  
  .container-categorias-footer{
    margin-left: 0px;
  }
  
  .img-redes{
    width: 200px;
    margin-top: -30px;
    margin-left: -10px;
  }
  
  .h3-form{
    font-size: 18px;
    color: #fff;
    font-weight: 550;
    margin-left: 10px;
  }
  
  .input-form {
    color: #fff;
    font-size: 15px;
    padding: 11px 5px;
    padding-right: 1px;
    margin: 12px 0px;
    margin-right: 0px;
    border: 1px solid #fff;
    background-color: #255787;
    border-radius: 12px;

  }
  
  input::placeholder {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
  }
  
  .a-form {
    color: #255787;
    background-color: #fff;
    padding:  10px 17px;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 15px;
    font-weight: 850;
    font-size: 14px;
    margin: 0px;
  }
  
  .h3-info {
    padding-top: 20px;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 0.1PX;
    text-transform: uppercase;
    font-family: "altoadige";
    font-weight: 1000;
    color: #DEFF53;
  }
  
  .p-info {
    color: #fff;
    font-size: 13px;
    width: auto;
  }
  
  .ul-footer {
    color: #fff;
    list-style: none;
    padding: 0px;
  }
  
  .li-footer {
    color: #fff;
    margin: 15px 0;
  }
  
  .li-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .hero-shop {
    margin-top: 150px;
    background: #3b5d5000;
    padding: 0px 10px;
    height: 500px; }
  
  .box-grande-shop {
    display: block;
    width: 100%;
    text-align: center;
    }
  .box-flex-img-grande-shop {
    
  }

  .box-img-grande-shop {
    width: 150px;
    height: 150px;
  }

  .box-flex-grande-shop {
    padding: 20px 0px;
    text-align: center;
  }

  .h3-box-1-shop {
    text-align: center;
    font-family: "altoadige";
    font-size: 35px;
    color: #fff;
    font-weight: 1000;
    text-transform: uppercase;
  }

  .box-texto-1-shop {
    color: #fff;
    font-size: 18px;
    text-align: center;   
  }

  .prendas-1-shop {
    color: #DEFF53;
    font-size: 28px;
    font-family: "altoadige";
    font-weight: 1000;
    text-align: center;
  }

  .precio-1-shop {
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .precio-ar-1-shop {
    font-size: 15px
  }

  .precio-numero-1-shop {
    font-size: 22px;
  }

  .btn-sub-1-shop {
    padding: 10px 15px;
  }

  .row-3-shop {
    display: block;
    margin-bottom: 100px;
    background-color: #eff2f1;
    height: 500px;
    margin-top: 260px;
    text-align: center;
    padding: 0px 10px;
  }  

  .container-4-shop {
    margin: 60px 0px;
    margin-right: 0px
  }
  
  .amarillo {
    height: 490px;
    background-color: #DEFF53;
    margin-top: -160px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
  }
  
  .gris {
    height: 35px;
    background-color: #E9E8E4;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-align: center;
  }
  
  .gris-img {
    height: 40px;
  }

  .h3-disenadoras-shop {
    padding-top: 30px;
    font-family: "altoadige";
    font-weight: 1000;
    font-size: 35px;
    color: #255787;
    padding-bottom: 100px;
  }

  .p-disenadoras-shop {
    color: #255787;
    width: 400px;
  }
  
  .ul-disenadoras {
    color: #255787;
    text-align: left;
    padding: 0px 30px;
    padding-top: 10px;
  }

  .h3-shop {
    text-align: center;
    font-size: 40px;
    color: #255787;
    font-weight: 1000;
    font-family: "altoadige";
    letter-spacing: 0.001px;
  }
  
  .p-shop {
    font-size: 15px;
    text-align: center;
    color: #255787;
    line-height: 25px;
  }

  .inteligencia-img {
    height: 350px;
    width: 300px;
    border-radius: 20px;
  }

  .box-shop {
    display:block;
    height: 425px;
    justify-content: center;
  }
  
  .container-8 {
    padding: 0 10px;
  }
  
  .row-6 {
    display: block;
    justify-content: center;
    margin-top: 40px;
  }
  
  .preguntas-1 {
  
  }
  
  .preguntas-2 {
  
  }
  
  .ul-preg {
    list-style: none;
    width: auto;
    margin: 0px;
    padding: 0px;
  }
  
  .li-preg {
    font-size: 20px;
    color: #255787;
    border-bottom: 1px solid #255787;
    padding: 20px ;
  }
  
  .li-preg-1 {
    font-size: 20px;
    color: #255787;
    border-top: 0px;
    border-bottom: 1px solid #255787;
    padding: 20px ;
  }
}